:root {
  --bg-color: #252525;
  --bg-product-color: #e7e4d8;
  --bg-paulista-color: #492901;
  --bg-carioca-color: #c17139;
  --bg-mineiro-color: #d7a54d;
  --border-product-color: #d6d3c8;
  --font-color: #fff;
  --footer-color: #d6d3c8;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
}

.menu {
  background: var(--bg-color);
  padding: 1.25em 0;
}

.menu-container {
  max-width: 60em;
  margin: 0 auto;
}

.menu-container::after,
.menu-container::before {
  content: '';
  display: table;
  clear: both;
}

a.menu-logo {
  display: block;
  /* padding: 20px; */
  float: left;
  margin-left: 0.625em;
}

.menu-nav {
  float: right;
  margin-right: 0.625em;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--font-color);
  font-size: 1.125em;
}

/* Introdução */

.intro {
  background: url('../img/bg-intro.jpg') no-repeat center center;
  background-size: cover;
  padding: 9.375em 0;
  text-align: center;
  color: var(--font-color);
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.intro h1::after {
  content: '';
  display: block;
  width: 20px;
  height: 4px;
  background-color: var(--font-color);
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: 1.125em;
}

/* Sobre */
.about {
  padding: 60px 0;
}

.about-container {
  width: 60em;
  margin: 0 auto;
}

.about-container::after,
.about-container::before {
  content: '';
  display: table;
  clear: both;
}

.about h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 60px;
}

.about-item {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.about-item img {
  display: block;
  max-width: 100%;
}

.about-item h3 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: normal;
  line-height: 1em;
  background: var(--bg-color);
  width: 220px;
  color: var(--font-color);
  text-align: center;
  padding: 5px 0 10px 0;
  top: -25px;
  position: relative;
}

.about > p {
  font-size: 1.125em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

/* Produtos */
.product {
  background: var(--bg-product-color);
  padding: 3.75em 0;
  border-top: 3px solid var(--border-product-color);
  border-bottom: 3px solid var(--border-product-color);
}

.product-container {
  max-width: 60em;
  margin: 0 auto;
}

.product-container::before,
.product-container::after {
  content: '';
  display: table;
  clear: both;
}

.product-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.product-item h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}

.product-item h2::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid white;
  box-shadow: 0 0 0 10px currentColor;
}

h2.product-paulista::before {
  color: var(--bg-paulista-color);
}

h2.product-carioca::before {
  color: var(--bg-carioca-color);
}

h2.product-mineiro::before {
  color: var(--bg-mineiro-color);
}

.product-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

.product-btn {
  width: 180px;
  border: 3px solid;
  color: var(--bg-color);
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  margin: 20px auto 0 auto;
}
